@import '../../../../../assets/styles/scss/core/variables';
@import '../../../../../assets/styles/scss/base/config';
@import '../../../../../assets/styles/scss/base/reset';

%img-hover-details {
  position: absolute;
  transition: all .25s ease;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: $theme-color;
}

%img-descript-datils {
  color: $main-fcolor;
  position: absolute;
}

.product-section {
  padding: 45px 0 0;
  clear: both;
  h2 {
    margin-bottom: 50px;
    margin-top: 5px !important;
  }
  img {
    width: 100%;
  }
  .home-divider {
    hr {
      margin-top: 30px;
    }
  }
  &.featured-product {
    padding-left: 15px !important;
    padding-right: 5px !important;
    .feat-product-details {
      padding: 0 10px 0 0 !important;
      margin-bottom: 5%;
      figure {
        width: 100%;
        position: relative;
        .img-hover {
          @extend %img-hover-details;
          &:hover {
            opacity: 0.8;
          }
        }
      }
      .img-descript {
        @extend %img-descript-datils;
        font-size: 16px;
        top: 43%;
        left: 29%;
        padding: 6px 12px;
        border: 1px solid $main-fcolor;
      }
      .descript {
        color: $dark;
        h3 {
          font-size: 18px;
        }
        p {
          font-size: $descriptions;
          margin-bottom: 2px;
        }
        .stars {
          color: $theme-color;
          i {
            margin: 0 2px;
            font-size: 12px;
          }
        }
      }
    }
    .pagination {
      .disabled {
        pointer-events: none;
        opacity: 0.5;
      }
      img {
        width: 30px;
      }
      a {
        color: $dark;
        cursor: pointer;
        font-size: $descriptions;
        border: none;
        margin: 0 5px;
        @extend .unstyled-a;
        &:hover, &:active, &focuse {
          color: $dark;
        }
      }
      a.active {
        border-radius: 50%;
        background: $theme-color !important;
        color: $main-fcolor !important;
      }

    }
  }
  &.featured-product-list {
    margin-top: 1%;
    margin-bottom: 5%;
  }
}

