<shop></shop>
<navigation></navigation>
<main class="container-fluid">
  <div class="row">
    <figure>
      <img src="/assets/img/list_header.png" alt="Header picture" class="bg-img hidden-xs img-responsive">
      <img src="/assets/img/list_header_mob.png" alt="Header picture" class="bg-img visible-xs img-responsive">
    </figure>
    <div class="container">
      <section class="product-section featured-product featured-product-list text-center">
        <h2 class="title visible-xs text-center bold-text">BLUSAS</h2>
        <product-badge></product-badge>
        <product-badge></product-badge>
        <product-badge></product-badge>
        <product-badge></product-badge>
        <product-badge></product-badge>
        <product-badge></product-badge>
        <product-badge></product-badge>
        <product-badge></product-badge>
        <product-badge></product-badge>
        <product-badge></product-badge>
        <product-badge></product-badge>
        <product-badge></product-badge>
        <ul class="pagination">
          <li class="prev">
            <a class="disabled"><img src="/assets/img/pagination-left.png" alt="Previous"></a>
          </li>
          <li>
            <a class="active link-number firstPage">1</a>
          </li>
          <li>
            <a class="link-number">2</a>
          </li>
          <li>
            <a class="link-number lastPage">3</a>
          </li>
          <li class="next">
            <a><img src="/assets/img/pagination-right.png" alt="Next"></a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</main>
<app-footer></app-footer>
