//oun mixins for the app

@mixin social-background($soc-path) {
  background-image: url($soc-path) !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
}

@mixin footer-social-background($soc-path) {
  background-image: url($soc-path) !important;
  background-repeat: no-repeat !important;
  background-size: 70% !important;
  background-position: 4px !important;
}

// Flexbox display
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// Flex Flow Direction
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}

// Axis Alignment
@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
  -moz-justify-content: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify;
  -ms-flex-pack: $justify;
}

// Cross-axis Alignment
@mixin align-items($align) {
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  align-items: $align;
}