//template changeable colors
$pink: #F71B66;
$green: #51E3C2;
$orange: #EE5C26;
$purple: #9014FE;

//optional colors for all the pages
$main-fcolor: #FFFFFF;
$dark: #292929;
$line-color: #C5C5C5;
$divider-color: #eee;
$light-gray: #F6F6F6;