<header class="header home-header list-header">
  <nav class="container">
    <div class="menu row">
      <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav">
          <li>
            <a href="" class="bold-text nav-bar-item">Vestidos</a>
          </li>
          <li>
            <a href="" class="bold-text nav-bar-item">Blusas</a>
          </li>
          <li class="active">
            <a href="" class="bold-text nav-bar-item">Bolsas</a>
          </li>
          <li>
            <a href="" class="bold-text nav-bar-item">Pantalones</a>
          </li>
          <li>
            <a href="" class="bold-tex nav-bar-item">Accesorios</a>
          </li>
        </ul>
        <div class="social-icons visible-xs list-inline">
          <ul class="list-unstyled text-center list-inline">
            <li>
              <a href="https://www.facebook.com/" target="_blank">
                <i class="fa fa-facebook theme-color" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank">
                <i class="fa fa-instagram theme-color" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/" target="_blank">
                <i class="fa fa-twitter theme-color" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
