@import '../../../../../assets/styles/scss/base/reset';
@import '../../../../../assets/styles/scss/core/variables';
@import '../../../../../assets/styles/scss/base/config';

.header {
  position: absolute;
  top: 0;
  z-index: 1;
  background: linear-gradient(black, transparent);
  width: 100%;
  .header-bg {
    width: 100%;
    position: relative;
  }
  nav.container {
    margin-top: 55px;
  }
  .navbar-header {
    width: 100%;
    padding-right: 15px;
    .navbar-brand {
      h3 {
        font-size: 20px;
        margin-top: 15px;
      }
    }
    .navbar-nav {
      padding-top: 20px;
      a {
        font-size: 15px;
      }
      .shop {
        .badge {
          background: $main-fcolor;
          color: $dark;
          padding: 4px 7px;
          font-size: 12px;
          font-weight: normal;
        }
      }
    }
  }
  .menu {
    .navbar-collapse {
      text-align: center;
      .navbar-nav {
        display: inline-block;
        float: right;
        vertical-align: top;
        padding: 4.5% 10% 0 0;
        li {
          padding: 0 40px;
          a {
            font-size: 15px;
            &:hover {
              color: $theme-color;
            }
          }
        }
      }
      .social-icons {
        li {
          &:first-child {
            i {
              font-size: 23px !important;
              vertical-align: 6%;
            }
          }
        }
        i {
          font-size: 30px;
          padding: 20px;
        }
      }
    }
  }
  a {
    color: $main-fcolor;
    @extend .unstyled-a;
  }
}
