<footer>
  <div class="container">
    <div class="row">
      <!--footer logo for mobile view-->
      <div class="col-xs-12 visible-xs">
        <h3 class="logo bold-text uppercase">
          FAICOL
          <span class="theme-color">ST</span>
        </h3>
      </div>
      <!--footer social icons block for mobile-->
      <div class="footer-social-block-mob visible-xs col-xs-12">
        <ul class="list-unstyled list-inline">
          <li>
            <a href="https://www.facebook.com/" target="_blank">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/" target="_blank">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/" target="_blank">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
      <!--footer menu-->
      <div class="col-xs-12 col-sm-6 footer-menu">
        <div class="hidden-xs col-sm-5">
          <nav>
            <ul class="list-unstyled">
              <li>
                <a href="" class="bold-text nav-bar-item">
                  Vestidos
                </a>
              </li>
              <li>
                <a href="" class="bold-text nav-bar-item">
                  Blusas
                </a>
              </li>
              <li>
                <a href="" class="bold-text nav-bar-item">
                  Bolsas
                </a>
              </li>
              <li>
                <a href="" class="bold-text nav-bar-item">
                  Pantalones
                </a>
              </li>
              <li>
                <a href="" class="bold-text nav-bar-item">
                  Accesorios
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-xs-12 col-sm-7">
          <ul class="list-unstyled hidden-xs">
            <li>
              <a href="" class="nav-bar-item">
                Formas de pago
                <p>
                  Convenientes
                </p>
              </a>
            </li>
            <li>
              <a href="" class="nav-bar-item">
                Zonas y Tiempo de Envío
              </a>
            </li>
            <li>
              <a href="" class="nav-bar-item">
                Condición de Envío Gratis
              </a>
            </li>
            <li>
              <a href="" class="nav-bar-item">
                Información de Producto
              </a>
            </li>
          </ul>
          <ul class="list-unstyled visible-xs">
            <li>
              <a href="">
                Iniciar Sesión
              </a>
            </li>
            <li>
              <a href="">
                Ayuda
              </a>
            </li>
            <li>
              <a href="">
                Política de Privacidad
              </a>
            </li>
            <li>
              <a href="">
                Términos del Servicio
              </a>
            </li>
            <li>
              <a href="">
                Garantía Kichink
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 footer-menu">
        <div class="col-xs-12 col-sm-6">
          <ul class="list-unstyled hidden-xs">
            <li>
              <a href="" class="nav-bar-item">
                Iniciar Sesión
              </a>
            </li>
            <li>
              <a href="" class="nav-bar-item">
                Ayuda
              </a>
            </li>
            <li>
              <a href="" class="nav-bar-item">
                Política de Privacidad
              </a>
            </li>
            <li>
              <a href="" class="nav-bar-item">
                Términos del Servicio
              </a>
            </li>
            <li>
              <a href="" class="nav-bar-item">
                Garantía Kichink
              </a>
            </li>
          </ul>
          <ul class="list-unstyled visible-xs">
            <li>
              <a href="">
                Formas de pago
                <p>
                  Convenientes
                </p>
              </a>
            </li>
            <li>
              <a href="">
                Zonas y Tiempo de Envío
              </a>
            </li>
            <li>
              <a href="">
                Condición de Envío Gratis
              </a>
            </li>
            <li>
              <a href="">
                Información de Producto
              </a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 text-center copyright">
          <p class="security-note">
            Esta tienda en línea está protegida y encriptada con SSL de 256 bits yes operada por
          </p>
          <a href="/" class="logo kichink-logo">
            <img src="/assets/img/kichink_logo_white.png" alt="Logo">
          </a>
          <p class="copy-right">
            © 2017 Kichink Servicios S.A. de C.V.
          </p>
        </div>
      </div>
      <!--footer logo for desktop view-->
      <div class="col-sm-12 hidden-xs">
        <h3 class="logo bold-text uppercase">
          FAICOL
          <span class="theme-color">ST</span>
        </h3>
      </div>
      <!--footer social icons block for desktop-->
      <div class="footer-social-block hidden-xs col-sm-12">
        <ul class="list-unstyled list-inline col-sm-12">
          <li>
            <a href="https://www.facebook.com/" target="_blank" class="social-icon text-center">
              <i class="fa fa-facebook theme-color" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/" target="_blank" class="social-icon text-center">
              <i class="fa fa-instagram theme-color" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/" target="_blank" class="social-icon text-center">
              <i class="fa fa-twitter theme-color" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
