@import '../../../../../assets/styles/scss/base/reset';
@import '../../../../../assets/styles/scss/core/variables';
@import '../../../../../assets/styles/scss/base/config';

footer {
  background: $dark;
  padding: 35px 0 20px;
  font-size: $descriptions;
  .footer-social-block-mob {
    ul {
      padding-left: 15px;
      li {
        a {
          background: $theme-color !important;
          border-radius: 50%;
          text-align: center;
          height: 45px;
          width: 45px;
          display: block;
          i {
            font-size: 22px;
            vertical-align: -15px;
            &.fa-instagram {
              font-size: 27px;
              vertical-align: -16px;
            }
          }
        }
      }
    }
  }
  ul {
    font-size: $descriptions;
    li {
      margin-bottom: 5px;
      a, a:active, a:focus {
        @extend .unstyled-a;
        color: $main-fcolor;
        &:hover {
          color: $theme-color;
        }
      }
    }
  }
  nav {
    margin-left: 5px;
  }
  .copyright {
    font-size: $small-text;
    line-height: 1.2em;
    color: $main-fcolor;
    img {
      width: 70%;
      margin: 15px 0;
    }
  }
  .logo {
    color: $main-fcolor;
    margin-left: 15px;
  }
  .footer-social-block {
    ul {
      li {
        a {
          display: block;
          height: 30px;
          width: 30px;
          background: $main-fcolor !important;
          border-radius: 50%;
          text-align: center;
          i {
            vertical-align: -4px;
            &.fa-instagram {
              font-size: 19px;
            }
          }
        }
      }
    }
  }
}
