<article class="col-xs-12 col-sm-6 new-product-banner">
  <a href="" class="unstyled-a">
    <figure>
      <img src="/assets/img/new_product.png" alt="Producto" class="img-responsive pull-left">
      <div class="product-descript">
        <h2 class="title">
          CHAQUETA
          <span class="theme-color">VOYAGER</span>
        </h2>
        <hr>
        <p>
          $158.00
        </p>
      </div>
    </figure>
  </a>
</article>
