@import '../../../../../assets/styles/scss/core/variables';
@import '../../../../../assets/styles/scss/base/config';

a.unstyled-a {
  color: $main-fcolor;
  figure {
    width: 97%;
    position: relative;
    .product-descript {
      position: absolute;
      background: $dark;
      color: $main-fcolor;
      right: 0;
      width: 36%;
      opacity: 0.9;
      text-align: left;
      padding: 17% 4% 10.2%;
      h2 {
        margin-bottom: 35px;
      }
      hr {
        width: 25px;
        margin: 0 0 10px 0;
      }
      p {
        font-size: 16px;
      }
    }
  }
}
