@import '../../../../../assets/styles/scss/core/variables';
@import '../../../../../assets/styles/scss/base/config';
@import '../../../../../assets/styles/scss/core/mixins';

%img-hover-details {
  position: absolute;
  transition: all .25s ease;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: $theme-color;
}

%img-descript-datils {
  color: $main-fcolor;
  position: absolute;
}

figure {
  width: 100%;
  position: relative;
}

.img-hover {
  @extend %img-hover-details;
  &:hover {
    opacity: 0.8;
  }
}

.img-descript {
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  @extend %img-descript-datils;
  @extend %img-hover-details;
  opacity: 1 !important;
  background-color: transparent !important;
  &:hover {
    background-color: $theme-color !important;
    opacity: 0.8 !important;
  }
  margin-bottom: 5px !important;
  p {
    margin-top: 10px;
    span {
      img {
        width: 70px;
      }
    }
  }
}
