<article class="col-xs-12 col-sm-4 banner">
  <a href="" class="unstyled-a">
    <figure>
      <img src="/assets/img/product-groups.png" alt="Producto" class="img-responsive">
      <div class="img-descript">
        <div>
          <h3 class="title">
            DESCUENTOS
          </h3>
          <p class="text-uppercase">
            shop now
            <span>
              <img src="/assets/img/banner_arrow.png" alt="">
            </span>
          </p>
        </div>
      </div>
    </figure>
  </a>
</article>
