<article class="col-xs-12 col-sm-3 feat-product-details">
  <a href="" class="unstyled-a">
    <figure>
      <img src="/assets/img/product_cover.png" alt="Producto" class="img-responsive product-image">
      <div class="img-hover hidden-xs">
        <p class="img-descript">
          COMPARAR
        </p>
      </div>
    </figure>
  </a>
  <div class="descript text-center">
    <h3 class="title product-title">
      <span class="bold-text">ABRIGO</span> LUXEMBURGO
    </h3>
    <p class="product-price">
      $2,856
    </p>
    <!--rating stars-->
    <div class="stars product-rating">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
  </div>
</article>
