@import '../../../../../assets/styles/scss/core/variables';
@import '../../../../../assets/styles/scss/base/config';
@import '../../../../pages/product/components/root/product.component';

.feat-product-details {
  padding: 0 10px 0 0 !important;
  margin-bottom: 5%;
  figure {
    position: relative;
    .img-hover {
      width: 100%;
      @extend %img-hover-details;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .img-descript {
    @extend %img-descript-datils;
    font-size: 16px;
    top: 43%;
    left: 29%;
    padding: 6px 12px;
    border: 1px solid $main-fcolor;
  }
  .descript {
    color: $dark;
    h3 {
      font-size: 18px;
    }
    p {
      font-size: $descriptions;
      margin-bottom: 2px;
    }
    .stars {
      color: $theme-color;
      i {
        margin: 0 2px;
        font-size: 12px;
      }
    }
  }
}
