<article class="col-xs-12 col-sm-6 col-lg-5 main-details">
  <h2 class="title">
    <span class="bold-text">BLUSA</span>
    ANTONIETA
  </h2>
  <p class="info">
    Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla.
    Cras mattis consectetur purus sit amet fermentum.
  </p>
  <p class="model">
    Modelo: PLS-374-MD
  </p>
  <div class="size">
    <div class="row">
      <!--active product sizes-->
      <div class="col-xs-12 col-sm-6 size-details">
        <p class="inline-block">
          Talla
        </p>
        <ul class="list-unstyled inline-block size-details">
          <li class="active inline-block">
            <a href="#" class="active">S</a>
          </li>
          <li class="inline-block">
            <a href="#">M</a>
          </li>
          <li class="inline-block">
            <a href="#">L</a>
          </li>
          <li class="inline-block">
            <a href="#">XL</a>
          </li>
        </ul>
      </div>
      <!--active product number-->
      <div class="col-xs-12 col-sm-6">
        <div class="pull-right quant-cntainer">
          <p class="inline-block">
            Cantidad
          </p>
          <ul class="list-unstyled inline-block quantity text-center">
            <li class="active inline-block pull-left">
              <a class="quantity-a bold-text upVote">+</a>
            </li>
            <li class="inline-block number">
              <input type="text" class="count text-center" name="count"/>
            </li>
            <li class="inline-block pull-right">
              <a class="quantity-a bold-text downVote">-</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 total-price">
      <h3>
        Precio Total
      </h3>
      <p class="">
        Incluye IVA
      </p>
    </div>
    <div class="col-xs-6">
      <h4 class="theme-color pull-right price">
        $389 MXN
      </h4>
    </div>
    <div class="col-xs-12">
      <hr class="divider no-margin">
    </div>
    <div class="col-xs-12">
      <button type="button" class="btn comprar">
        Comprar
      </button>
    </div>
  </div>
</article>
