@import '../../../../../assets/styles/scss/core/variables';
@import '../../../../../assets/styles/scss/base/config';

.main-details {
  padding-left: 6%;
  color: $dark;
  h2 {
    margin-top: 0 !important;
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
  }
  .model {
    margin: 20px 0;
  }
  .size {
    border-top: 1px solid $divider-color;
    border-bottom: 1px solid $divider-color;
    padding: 20px 0;
    ul {
      margin-left: 10px;
      li {
        a, a:hover, a:active, a:focus {
          text-decoration: none;
          color: $dark;
          text-align: center;
          width: 21px;
          display: block;
        }
        .active, .quantity-a {
          background: $light-gray !important;
          color: $theme-color !important;
        }
      }
    }
    ul.size-details {
      li {
        border: 1px solid $line-color;
        margin-right: 5px;
      }
    }
    .quantity {
      border: 1px solid $line-color;
      width: 75px;
      margin-top: 4px;
      li {
        cursor: pointer;
        &.number {
          border-left: 1px solid $line-color;
          border-right: 1px solid $line-color;
          width: 30px;
          height: 21px;
          .count {
            border: none;
            padding-top: 0;
            outline: none;
            width: 100%;
          }
        }
      }
    }
  }
  .total-price {
    h3 {
      font-size: 26px;
    }
    p {
      font-size: $descriptions;
    }
  }
  .price {
    font-size: 26px;
    margin-top: 40px;
  }
  .comprar {
    width: 100%;
    background: $theme-color;
    color: $main-fcolor;
    font-size: 17px;
    padding: 10px 0;
    margin-top: 5%;
    &:active, &:focus, &:active {
      background: $theme-color;
      box-shadow: none;
      outline: none;
    }
  }
}
