@import '../../../../../assets/styles/scss/core/variables';
@import '../../../../../assets/styles/scss/base/config';
@import '../../../../../assets/styles/scss/base/reset';

//product offers, new products and product badges sections styles
.product-section {
  &.new-product {
    .carousel-indicators {
      bottom: -15px;
      .dash {
        background: $line-color;
      }
    }
  }
  &.featured-product {
    margin-bottom: 50px;
    padding-left: 15px !important;
    padding-right: 5px !important;
    .item {
      figure {
        padding-right: 25px;
      }
    }
    .carousel-control {
      width: 20px;
      color: $line-color;
      background-image: none;
      img {
        top: 32%;
        position: absolute;
      }
    }
    .left {
      left: -15px;
    }
    .right {
      right: 15px !important;
    }
  }
  padding: 45px 0 0;
  clear: both;
  h2 {
    margin-bottom: 50px;
    margin-top: 5px !important;
  }
  img {
    width: 100%;
  }
  .home-divider {
    hr {
      margin-top: 30px;
    }
  }
}

//header social icons
.social-block {
  position: absolute;
  right: 0;
  top: 26%;
  z-index: 10000;
  ul {
    li {
      a {
        background-color: $theme-color !important;
        width: 65px;
        display: block;
        i {
          color: $main-fcolor;
        }
      }
      &:first-child {
        a {
          padding-top: 15px;
          border-radius: 6px 0 0 0;
          height: 60px;
          i {
            font-size: 27px;
          }
        }
      }
      &:nth-child(2) {
        a {
          height: 40px;
          i {
            font-size: 33px;
          }
        }
      }
      &:last-child {
        a {
          border-radius: 0 0 0 6px;
          height: 60px;
          padding-top: 9px;
          i {
            font-size: 30px;
          }
        }
      }
    }
  }
}
