<shop></shop>
<navigation></navigation>
<main class="container-fluid home-page">
  <div class="row">
    <div class="social-block hidden-xs">
      <ul class="list-unstyled text-center">
        <li>
          <a href="https://www.facebook.com/" target="_blank">
            <i class="fa fa-facebook theme-color" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/" target="_blank">
            <i class="fa fa-instagram theme-color" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/" target="_blank">
            <i class="fa fa-twitter theme-color" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
    <carousel></carousel>
    <div class="container">
      <section class="product-section banners">
        <product-offers></product-offers>
        <product-offers></product-offers>
        <product-offers></product-offers>
        <div class="col-xs-12 home-divider">
          <hr class="divider hidden-xs">
        </div>
      </section>
      <section class="product-section new-product text-center">
        <h2 class="title">
          <span class="bold-text">PRODUCTOS</span>
          <span class="theme-color">NUEVOS</span>
        </h2>
        <div id="product-section-mob" class="carousel slide header-slider visible-xs" data-ride="carousel">
          <div class="carousel-indicators">
            <span data-target="#product-section-mob" data-slide-to="0"
                  class="active glyphicon glyphicon-minus dash"></span>
            <span data-target="#product-section-mob" data-slide-to="1"
                  class="glyphicon glyphicon-minus dash"></span>
          </div>
          <div class="carousel-inner">
            <!--slider active item-->
            <div class="col-xs-12 item active">
              <new-products></new-products>
            </div>
            <!--slider item-->
            <div class="item col-xs-12">
              <new-products></new-products>
            </div>
          </div>
        </div>
        <div class="hidden-xs">
          <new-products></new-products>
          <new-products></new-products>
        </div>
        <div class="col-xs-12 home-divider">
          <hr class="divider hidden-xs">
        </div>
      </section>
      <section class="product-section featured-product text-center">
        <h2 class="title">
          <span class="bold-text">PRODUCTOS</span>
          <span class="theme-color">DESTACADOS</span>
        </h2>
        <div id="feat-product-mobile" class="carousel slide visible-xs" data-ride="carousel">

          <div class="carousel-inner">
            <!--slider active item-->
            <div class="col-xs-12 item active">
              <product-badge></product-badge>
            </div>
            <!--slider item-->
            <div class="item col-xs-12">
              <product-badge></product-badge>
            </div>
            <!--slider item-->
            <div class="item col-xs-12">
              <product-badge></product-badge>
            </div>
            <!--slider item-->
            <div class="item col-xs-12">
              <product-badge></product-badge>
            </div>
          </div>
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#feat-product-mobile" data-slide="prev">
            <img src="/assets/img/carousel_arrow_left.png" alt="Previous">
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#feat-product-mobile" data-slide="next">
            <img src="/assets/img/carousel_arrow_right.png" alt="Next">
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="hidden-xs">
          <product-badge></product-badge>
          <product-badge></product-badge>
          <product-badge></product-badge>
          <product-badge></product-badge>
        </div>
      </section>
    </div>
  </div>
</main>
<app-footer></app-footer>
