<shop></shop>
<navigation></navigation>
<main class="container-fluid">
  <div class="row">
    <figure>
      <img src="/assets/img/item_details_header.png" alt="Header picture" class="bg-img hidden-xs img-responsive">
      <img src="/assets/img/list_header_mob.png" alt="Header picture" class="bg-img visible-xs img-responsive">
    </figure>
    <div class="container">
      <section class="item-details product-section clearfix">
        <product-view></product-view>
        <product-info></product-info>
      </section>
      <section class="product-section featured-product text-center">
        <hr class="divider details-divider">
        <h2 class="title">
          <span class="bold-text">PRODUCTOS</span>
          <span class="theme-color">RELACIONADOS</span>
        </h2>
        <div id="feat-product-mobile" class="carousel slide visible-xs" data-ride="carousel">
          <div class="carousel-inner">
            <div class="col-xs-12 item active">
              <product-badge></product-badge>
            </div>
            <div class="col-xs-12 item">
              <product-badge></product-badge>
            </div>
            <div class="col-xs-12 item">
              <product-badge></product-badge>
            </div>
            <div class="col-xs-12 item">
              <product-badge></product-badge>
            </div>
          </div>
          <a class="left carousel-control" href="#feat-product-mobile" data-slide="prev">
            <img src="/assets/img/carousel_arrow_left.png" alt="Previous">
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#feat-product-mobile" data-slide="next">
            <img src="/assets/img/carousel_arrow_right.png" alt="next">
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="hidden-xs">
          <product-badge></product-badge>
          <product-badge></product-badge>
          <product-badge></product-badge>
          <product-badge></product-badge>
        </div>
      </section>
    </div>
  </div>
</main>
<app-footer></app-footer>
