@import '../../../../../assets/styles/scss/core/variables';
@import '../../../../../assets/styles/scss/base/config';

.details-divider {
  margin-bottom: 60px;
}

.product-section {
  &.featured-product {
    margin-bottom: 50px;
    padding-left: 15px !important;
    padding-right: 5px !important;
    .item {
      figure {
        padding-right: 25px;
      }
    }
    .carousel-control {
      width: 20px;
      color: $line-color;
      background-image: none;
      img {
        top: 32%;
        position: absolute;
      }
    }
    .left {
      left: -15px;
    }
    .right {
      right: 15px !important;
    }
  }
  padding: 45px 0 0;
  clear: both;
  h2 {
    margin-bottom: 50px;
    margin-top: 5px !important;
  }
  img {
    width: 100%;
  }
  .home-divider {
    hr {
      margin-top: 30px;
    }
  }
}
