@import '../../../../../assets/styles/scss/core/variables';
@import '../../../../../assets/styles/scss/base/config';
@import '../../../../../assets/styles/scss/base/reset';

.header-slider {
  .carousel-indicators {
    .dash {
      background: $main-fcolor;
    }
  }
  .carousel-inner {
    .item {
      img {
        width: 100%;
      }
    }
  }
  .carousel-caption {
    width: 100%;
    top: 40%;
    left: 7%;
    text-align: left;
    h1 {
      margin: 0;
      font-size: 64px;
      line-height: 0.9em;
    }
    p {
      font-size: 26px;
    }
    hr {
      width: 313px;
      border: 1px solid $main-fcolor;
      margin: 0 0 4px;
      background-color: $main-fcolor;
    }
  }
}
