<div id="header-slider" class="carousel slide header-slider" data-ride="carousel">
  <div class="carousel-indicators">
                <span data-target="#header-slider" data-slide-to="0"
                      class="active glyphicon glyphicon-minus dash bullet"></span>
    <span data-target="#header-slider" data-slide-to="1" class="glyphicon glyphicon-minus dash bullet"></span>
    <span data-target="#header-slider" data-slide-to="2" class="glyphicon glyphicon-minus dash bullet"></span>
  </div>
  <div class="carousel-inner slider">
    <!--slider active item-->
    <div class="item slider-item active">
      <img src="/assets/img/home_header_first_slide.png" alt="Los Angeles" class="img-responsive hidden-xs ">
      <img src="/assets/img/header-slide-mobile.jpg" alt="Los Angeles" class="img-responsive visible-xs">
      <div class="carousel-caption">
        <h1 class="bold-text hero-text-urban">
          URBAN
        </h1>
        <h1 class="theme-color hero-text-collection">
          COLLECTION
        </h1>
        <hr class="inline-block">
        <p class="inline-block bold-text year">
          2017
        </p>
      </div>
    </div>
    <!--slider item-->
    <div class="item slider-item">
      <img src="/assets/img/home_header_second_slide.png" alt="Chicago" class="img-responsive hidden-xs">
      <img src="/assets/img/header-slide-mobile.jpg" alt="Los Angeles" class="img-responsive visible-xs">
      <div class="carousel-caption">
        <h1 class="bold-text hero-text-urban">
          URBAN
        </h1>
        <h1 class="theme-color hero-text-collection">
          COLLECTION
        </h1>
        <hr class="inline-block">
        <p class="inline-block bold-text year">
          2017
        </p>
      </div>
    </div>
    <!--slider item-->
    <div class="item slider-item">
      <img src="/assets/img/home_header_third_slide.png" alt="New york" class="img-responsive hidden-xs">
      <img src="/assets/img/header-slide-mobile.jpg" alt="Los Angeles" class="img-responsive visible-xs">
      <div class="carousel-caption">
        <h1 class="bold-text hero-text-urban">
          URBAN
        </h1>
        <h1 class="theme-color hero-text-collection">
          COLLECTION
        </h1>
        <hr class="inline-block">
        <p class="inline-block bold-text year">
          2017
        </p>
      </div>
    </div>
  </div>
</div>
