$theme-color: $orange; //template color scheme main color

//optional font sizes
$hero-text: 44px;
$title: 24px;
$descriptions: 16px;
$small-text: 14px;

//image folder path
$img-path: "/img/";

//social icons
$fb-icon: $img-path + "social-icons/facebook.png";
$instagram-icon: $img-path + "social-icons/instagram.png";
$tw-icon: $img-path + "social-icons/twitter.png";
$fb-black-icon: $img-path + "social-icons/fb-black.png";
$globe-icon: $img-path + "social-icons/globe.png";
$pinterest-icon: $img-path + "social-icons/pinterest.png";
