@font-face {
  font-family: 'Alte-Din-Regular';
  src: url("/assets/fonts/alte-din-regular.eot") format("eot");
  src: url("/assets/fonts/alte-din-regular.woff") format("woff"),
  url("/assets/fonts/alte-din-regular.ttf") format("ttf"),
  url("/assets/fonts/alte-din-regular.otf") format("otf"),
  url("/assets/fonts/alte-din-regular.svg") format("svg");
}
