//optional styles for all the pages
@import '../core/variables';
@import 'config';
@import 'fonts';

body {
  font-family: 'Alte-Din-Regular';
  overflow-x: hidden;
}

.bold-text {
  font-weight: bold;
}

.theme-color {
  color: $theme-color;
}

.title {
  font-size: $title;
}

.small-text {
  font-size: $small-text !important;
}

.unstyled-a {
  background: none !important;
  text-decoration: none !important;
  text-shadow: none;
  &:hover, &:focus, &:active {
    @extend .unstyled-a;
  }
}

.inline-block {
  display: inline-block;
}

.bg-img {
  width: 100%;
}

.no-margin {
  margin: 0 !important;
}

.product-section {
  img {
    width: 100%;
  }
}

.dash {
  width: 30px;
  height: 5px;
  font-size: 0;
  cursor: pointer;
  &.active {
    background: $theme-color !important;
  }
}
