.header {
  z-index: 1000;
  nav.container {
    margin-top: 90px !important;
  }
  .menu {
    margin-top: 15px;
    background: $main-fcolor;
    .navbar-collapse {
      overflow-y: hidden;
      border-top: 2px solid $theme-color;
      .navbar-nav {
        float: none !important;
        padding: 0 !important;
        margin: 0;
        li {
          a {
            padding-top: 20px !important;
            color: $dark;
            font-size: $descriptions;
            font-weight: normal;
          }
        }
      }
    }
  }
}

.shop-content.navbar-header {
  padding: 0 !important;
  margin: 0 !important;
  .navbar-right {
    padding-top: 15px !important;
    a {
      font-size: 12px !important;
      width: 36%;
      float: right;
      padding: 0;
      margin-right: 15px;
      text-align: right;
      &.shop {
        float: right !important;
        .badge {
          font-size: 12px !important;
          padding: 4px 7px;
        }
      }
    }
  }
  .navbar-brand {
    padding: 0 !important;
    h3 {
      font-size: 36px !important;
    }
  }
  .opened {
    background: $main-fcolor !important;
    span {
      background: $theme-color !important;
    }
  }
  .navbar-toggle {
    border: 3px solid $main-fcolor;
    padding: 3px;
    margin: 20px 0 0 20px;
    span {
      background: $main-fcolor;
      width: 23px;
      height: 1px;
      border-radius: 1px;
      margin: 5px;
    }
  }
}

.header-slider {
  .carousel-caption {
    h1 {
      font-size: 46px !important;
    }
    hr {
      width: 205px !important;
    }
  }
  .carousel-indicators {
    bottom: 35px;
  }
}

.product-section {
  padding-top: 25px !important;
  h2 {
    margin-bottom: 30px !important;
  }
}

.banners {
  padding-top: 25px !important;
  .banner {
    padding: 0 10px 25px;
  }
}

.new-product {
  margin-bottom: 35px;
  padding-left: 10px !important;
  padding-right: 10px !important;
  figure {
    width: 100% !important;
    .product-descript {
      width: 52% !important;
      padding: 5% 4% 10.2% !important;
    }
  }
}

.featured-product-list {
  margin-left: 5px !important;
}

.featured-product {
  padding-right: 15px !important;
  .feat-product-details {
    margin-bottom: 8% !important;
  }
  figure {
    margin: auto;
    padding-left: 15px;
    padding-right: 20px;
  }
  .pagination {
    a {
      margin: 0 !important;
    }
  }
}

.item-details {
  padding-top: 15px !important;
  margin-right: 5px !important;
  .main-details {
    margin-top: 15%;
    .size {
      p {
        font-size: $title;
      }
      .quant-cntainer {
        float: none !important;
      }
      li {
        padding: 2px 10px;
        a {
          font-size: $title;
        }
      }
      .quantity {
        width: 130px !important;
        .number {
          font-size: $title;
          height: 38px !important;
          width: 45px !important;
        }
      }
    }
    .total-price {
      h3 {
        font-size: 20px !important;
      }
    }
    .price {
      font-size: 22px !important;
    }
  }
}

footer {
  h3 {
    &.logo {
      margin-top: 0 !important;
      margin-bottom: 20px !important;
    }
  }
  .footer-social-block {
    ul {
      li {
        display: inline-block !important;
        margin-right: 15px;
        a {
          background-color: $theme-color !important;
          display: inline-block !important;
          border-radius: 50%;
        }
      }
    }
  }
  .copyright {
    padding: 30px 35px 20px;
  }
}

