.menu {
  a {
    padding: 0 42%;
  }
}

.header {
  .menu {
    .navbar-collapse {
      .navbar-nav {
        margin: 2% !important;
        li {
          a {
            padding: 0 20px !important;
          }
        }
      }
    }
  }
}

.header-slider {
  .carousel-caption {
    h1 {
      font-size: 50px !important;
    }
    hr {
      width: 231px !important;
    }
  }
}

.social-block {
  ul {
    li {
      a {
        width: 50px !important;
      }
      &:first-child {
        a {
          height: 50px !important;
          i {
            font-size: 25px !important;
          }
        }
      }
      &:nth-child(2) {
        a {
          height: 30px !important;
          i {
            font-size: 31px !important;
          }
        }
      }
      &:last-child {
        a {
          height: 50px !important;
          i {
            font-size: 29px !important;
          }
        }
      }
    }
  }
}

.banner {
  .img-descript {
    h3 {
      font-size: 20px;
    }
  }
}

.new-product {
  a {
    figure {
      .product-descript {
        h2 {
          font-size: 18px;
        }
        padding: 8% 4% 5.2% !important;
      }
    }
  }
}

.main-details {
  padding-left: 2% !important;
  .size-details {
    padding-right: 0;
  }
  p {
    font-size: 14px !important;
  }
}

.featured-product {
  .feat-product-details {
    .img-descript {
      left: 18.5% !important;
    }
    .descript {
      h3 {
        font-size: 15px !important;
      }
    }
  }
}

.footer-menu {
  a {
    font-size: 14px;
  }
}
