@import '../../../../../assets/styles/scss/core/variables';
@import '../../../../../assets/styles/scss/base/config';

.item-container {
  padding-left: 0 !important;
}

.item-miniatures {
  figure {
    margin-left: 15px;
    margin-bottom: 15px;
    border: 1px solid $line-color;
  }
  figure.active {
    border: 1px solid $theme-color;
    border-radius: 3px;
  }
}

.item-picture {
  padding: 0 !important;
  figure {
    width: 92%;
  }
}

