<article class="col-xs-12 col-sm-6 col-lg-7 hidden-xs item-container">
  <div class="row">
    <div class="col-sm-3 item-miniatures">
      <!--Item miniatures-->
      <a href="#">
        <figure class="active">
          <img src="/assets/img/product_details.png" alt="Miniatura del producto"
               class="img-responsive img-miniature">
        </figure>
      </a>
      <a href="#">
        <figure>
          <img src="/assets/img/product_details.png" alt="Miniatura del producto"
               class="img-responsive img-miniature">
        </figure>
      </a>
      <a href="#">
        <figure>
          <img src="/assets/img/product_details.png" alt="Miniatura del producto"
               class="img-responsive img-miniature">
        </figure>
      </a>
    </div>
    <div class="col-sm-9 item-picture">
      <figure>
        <img src="/assets/img/product_details.png" alt="Producto" class="img-responsive">
      </figure>
    </div>
  </div>
</article>
<div id="item-details" class="carousel slide header-slider visible-xs" data-ride="carousel">
  <div class="carousel-indicators">
                <span data-target="#item-details" data-slide-to="0"
                      class="active glyphicon glyphicon-minus dash"></span>
    <span data-target="#item-details" data-slide-to="1"
          class="glyphicon glyphicon-minus dash"></span>
    <span data-target="#item-details" data-slide-to="2"
          class="glyphicon glyphicon-minus dash"></span>
  </div>
  <div class="carousel-inner">
    <!--slider active item-->
    <div class="col-xs-12 item active">
      <a href="" class="unstyled-a">
        <figure>
          <img src="/assets/img/product_details.png" alt="Producto"
               class="img-responsive pull-left">
        </figure>
      </a>
    </div>
    <!--slider item-->
    <div class="item col-xs-12">
      <a href="#" class="unstyled-a">
        <figure>
          <img src="/assets/img/product_details.png" alt="Producto"
               class="img-responsive pull-right">
        </figure>
      </a>
    </div>
    <!--slider item-->
    <div class="item col-xs-12">
      <a href="" class="unstyled-a">
        <figure>
          <img src="/assets/img/product_details.png" alt="Producto"
               class="img-responsive pull-right">
        </figure>
      </a>
    </div>
  </div>
</div>
