@import '../../../../../assets/styles/scss/base/reset';
@import '../../../../../assets/styles/scss/core/variables';

.navbar-header {
  width: 100%;
  padding-right: 15px;
  position: absolute;
  z-index: 10;
  .navbar-brand {
    h3 {
      font-size: 20px;
      margin-top: 15px;
    }
  }
  .navbar-nav {
    padding-top: 20px;
    a {
      font-size: 15px;
      &.shop {
        .badge {
          background: $main-fcolor;
          color: $dark;
          padding: 4px 7px;
          font-size: 12px;
          font-weight: normal;
        }
        i {
          font-size: 16px;
          padding-right: 5px;
        }
      }
      &.currency {
        i {
          font-size: 17px;
          padding-right: 3px;
        }
      }
    }
  }
}

a {
  color: $main-fcolor;
  @extend .unstyled-a;
}
