<div class="navbar-header shop-content">
  <div class="container">
    <a class="navbar-brand hidden-xs" href="/">
      <h3 class="logo bold-text uppercase">
        FAICOL
        <span class="theme-color">ST</span>
      </h3>
    </a>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li>
        <a href="" class="header-item"> Iniciar Sesión</a>
      </li>
      <li>
        <a href="" class="shop header-item">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          Mi Carrito
          <span class="badge">0</span>
        </a>
      </li>
      <li>
        <a href="" class="header-item">Ayuda</a>
      </li>
      <li>
        <a href="" class="hidden-xs header-item">
          <i class="fa fa-usd" aria-hidden="true"></i>
          US Dollars
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right visible-xs">
      <li>
        <a href="" class="shop">
          <span class="glyphicon glyphicon-shopping-cart"></span>
          Mi Carrito
          <span class="badge">0</span>
        </a>
      </li>
      <li>
        <a href=""> Iniciar Sesión</a>
      </li>
    </ul>
    <div class="pull-right">
      <a class="navbar-brand visible-xs" href="/">
        <h3 class="logo bold-text uppercase">
          FAICOL
          <span class="theme-color">ST</span>
        </h3>
      </a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </div>
</div>
